numpy
scipy
scikit-build
scikit-learn
scikit-image
opencv-python==4.8.0.74
seaborn
termcolor
joblib
tqdm
matplotlib
h5py
python-box
easydict
imutils
Shapely
ffmpeg-python
imagesize
natsort
xmltodict
angles
transformations
plotly
utm
filterpy
yacs
input_reader
zarr
lanelet2
pandas
Pillow
tabulate
requests
rectpack
tensorboard
numba
ipython
einops
pyntcloud
munkres
diffusers[torch]